.container-color {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  
    
    color: #ddd;
}

.container-color .color-btns button{
    margin-left: 10px;
}



.color-text h3 {
    color: #ddd;
    background-color: #000;
    padding: 8px;
  
    border-radius: 10px;
} 